*{
    box-sizing: border-box;
}
.button_container{
    width: 10vw;
    height: auto;
    position: relative;
    float: right;
    translate: 5vw -15vw;
}

#button_advanced{
    position: absolute;
    top: 5vh;
    right: 8vw;
    width: 7vw;
    height: 4vh;
    background-color: #4285f4;
    border: none;
    color: white;
    cursor: pointer;
}

#button_advanced:hover{
    background-color: #1467ec;
}

#button_image{
    position: absolute;
    top: 5vh;
    right: 16vw;
    width: 7vw;
    height: 4vh;
    background-color: white;
    border: none;
    cursor: pointer;
}

#button_image:hover{
    text-decoration: underline;
}

.search_container{
    margin: auto;
    text-align: center;
    margin-top: 30vh;
    /*position: relative;*/
}

.search_buttons{
    translate: 0 10px;
    border: none;
    width: 9vw;
    height: 4vh;
}

.search_buttons:hover{
    background-color: #dad9d9;
    border: 1px solid silver;
   
}

.google_font{
    font-size: 60px;
    margin: 2vh;
    letter-spacing: -0.17em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.google_textbox{
    width: 33vw; 
    border-radius: 20px;
    height: 5ch;
    border-color: silver;
}

.google_textbox:hover{
    background-color: #eeeeee;
}