*{
    box-sizing: border-box;
}

h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-left: 2vw;
    font-size: medium;
}

p{
    padding-left: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;

}

.button_container{
    width: 10vw;
    height: auto;
    position: relative;
    float: right;
    translate: 5vw -15vw;
}

#button_advanced{
    position: absolute;
    top: 5vh;
    right: 8vw;
    width: 7vw;
    height: 4vh;
    background-color: white;
    border: none;
    cursor: pointer;
}

#button_advanced:hover{
    text-decoration: underline;
}


#button_advanced_search{
    color: white; 
    height: 4vh; 
    width: auto;
    background-color: #4285f4; 
    border: none; 
    margin-left: 28vw;"
    cursor: pointer;
}

#button_advanced_search:hover{
    background-color: #1467ec;
}

.advanced_textbox{
    width: 20vw;
    margin-left: 2vw;
}

#button_image{
    position: absolute;
    top: 5vh;
    right: 14vw;
    width: 7vw;
    height: 4vh;
    background-color: white;
    border: none;
    cursor: pointer;
}

#button_image:hover{
    text-decoration: underline;
}

.images_subscript{
    position: absolute;
    left: 55vw;
    top: 6vh;
    font-weight: 300;

}

.search_container{
    margin: auto;
    text-align: center;
    margin-top: 30vh;
    position: relative;
}

.search_buttons{
    translate: 0 10px;
    border: none;
    width: 9vw;
    height: 4vh;
}

.search_buttons:hover{
    background-color: #dad9d9;
    border: 1px solid silver;
   
}

.google_font{
    font-size: 60px;
    margin: 2vh;
    letter-spacing: -0.17em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.google_font_small{
    font-size: 25px;
    margin: 2vh;
    letter-spacing: -0.17em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.font_advanced{
    padding: 2vw;
    padding-left: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2vh;
    color:#EA4335;
    font-weight: lighter;
    border-bottom: 1px solid silver;
    
}

.google_textbox{
    width: 33vw; 
    border-radius: 20px;
    height: 5ch;
    border-color: silver;
}

.google_textbox:hover{
    background-color: #eeeeee;
}